<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Formulario</title>
</head>
<h1>Formulario de alta de Cursos</h1>

<body>

    <form action="{% url 'curso_formulario' %}" method="post">{% csrf_token %}

        <!-- Aca va nuestro formulario -->
        <table>
            {{formulario.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>

</body>

</html>